<div ui-content-for="title">
    Trading
</div>

<div ui-content-for="navbutton-left">
    <a href="#/">Back</a>
</div>

<div class="scrollable">
    <div class="scrollable-content">
        <div class="list-group">
            <div class="list-group-item">
                <form role="form" class="form-horizontal" ng-submit="onCalculate()">
                    <legend>Trading from {{ station }}</legend>
                    <div class="form-group">
                        <label class="col-sm-12 control-label">Destination</label>
                        <!-- TODO: Auto-complete -->
                        <div class="col-sm-12">
                            <input type="text" class="form-control" placeholder="Destination (optional)" ng-model="form['station-name-end']" auto-stations>
                        </div>
                    </div>
                        
                    <div class="form-group">
                        <label class="col-xs-2 control-label">Cash</label>
                        <div class="col-xs-5">
                            <input type="text" class="form-control" ng-model="form.cash">
                        </div>

                        <label class="col-xs-2 control-label">Cargo</label>
                        <div class="col-xs-3">
                            <input type="number" class="form-control" ng-model="form.cargo">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-4 control-label">Min. Profit</label>
                        <div class="col-xs-8">
                            <input type="number" class="form-control" ng-model="form['min-profit']">
                        </div>
                    </div>

                    <div class="form-group">
                        <!-- TODO perhaps, a custom component for [Small Ship] to save space? -->
                        <label class="col-sm-3 control-label">Ship Size</label>
                        <div class="col-sm-3">
                            <select ng-model="form['pad-size']" ng-options="size for size in validSizes" class="form-control">
                            </select>
                        </div>

                        <label class="col-sm-3 control-label">Search Range</label>
                        <div class="col-sm-3">
                            <select ng-model="form['search-range']" ng-options="range for range in validRanges" class="form-control">
                            </select>
                        </div>
                    </div>

                    <button class="btn btn-primary btn-block">Calculate Trades</button>

                    <div ui-content-for="navbutton-action">
                        <a class='btn' ng-click='onCalculate()'>Calculate</a>
                    </div>
                </form>
            </div>
        </div>

        <div ng-show="results != null" class="list-group">
            <!-- TODO tap trade to calculate route? -->
            <div ng-hide="results.length" class="list-group-item">No trades found</div>
            <div ng-repeat="trade in results" class="list-group-item">
                <div class="commodity">
                    Buy ({{ trade.Qty }}) {{ trade.CommodityName }} @ {{ trade.Buy }}
                </div>
                <div class="destination">
                    Sell at: <span class="station">{{ trade.DestinationStationName }}</span>
                    in <span class="system">{{ trade.DestinationSystemName }}</span>
                    (Distance: {{ trade.Distance }})
                    <div class="profit">
                        For total profit: {{ trade.Total }}
                    </div>
                    <div class="update">
                        Last Updated: {{ trade.SellLastUpdate }}
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
