<div>
    <div class="error" ng-hide="info">Current System Unavailable</div>
    <div class="system" ng-show="info">Welcome to {{ info.system }}</div>

    <!-- TODO ? -->
    <!-- <ul class="nav" ng&#45;if="info"> -->
    <!--     <a href="#/trading">Trade Calculator</a> -->
    <!-- </ul> -->

    <div ng-if="info" class="stations">
        <div ng-repeat="station in info.stations"
                class="station" ng-click="selectStation(station)">
            <div class="station-name">{{ station }}</div>
        </div>
    </div>
</div>
