<div ui-content-for="bottom-nav" ng-if="currentSystem">
    <div class="btn-group justified" >
        <a href="#/search/{{ currentSystem.system }}" class="btn btn-navbar">
            <i class="fa fa-search fa-navbar"></i> Search
        </a>
        <a href="#/navigate/{{ currentSystem.system }}" class="btn btn-navbar">
            <i class="fa fa-compass fa-navbar"></i> Navigate
        </a>
    </div>
</div>

<div class="scrollable">
    <div class="scrollable-content">

        <div class="list-group" ng-if="currentSystem">

            <div class="list-group-item text-center">
                <div>
                    <h3 class="home-heading error" ng-hide="currentSystem">Current System Unavailable</span>
                    <h3 class="home-heading" ng-show="currentSystem">Welcome to {{ currentSystem.system }}</span>
                </div>

                <div>
                    <h4 class="home-heading">Nearby Stations:</h4>
                </div>
            </div>
            <div class="list-group-item text-center" ng-if="!currentSystem.stations">
                None
            </div>
            <a ng-repeat="station in currentSystem.stations"
                   class="list-group-item"
                   href="#/trading/{{ currentSystem.system }}/{{ station }}">
               {{ station }} <i class="fa fa-chevron-right pull-right"></i>
            </a>
        </div>

    </div>
</div>
