<div class="scrollable">
    <ui-state id='activeTab' default='1'></ui-state>

    <div class="scrollable-header">
        <div class="list-group-item">
            <div class="btn-group justified nav-tabs">
                <a ui-set="{'activeTab': 1}" 
                        ui-class="{'active': activeTab == 1}" class="btn btn-default">Bindings</a>
                <a ui-set="{'activeTab': 2}" 
                        ui-class="{'active': activeTab == 2}" class="btn btn-default">Macros</a>
            </div>  
        </div>
    </div>

    <div class="scrollable-content">
        <!-- bindings -->
        <div class="list-group" ui-if="activeTab == 1">
            <div class="list-group-item">
                <form role="form" class="form-horizontal" ng-submit="saveBindings()" ng-model-options="{getterSetter: true}">
                    <legend>Bindings</legend>
                    <div class="form-group">
                        <div ng-repeat="(bind, keyName) in bindings">
                            <label class="col-xs-6 control-label">{{ bind }}</label>
                            <div class="col-xs-6">
                                <input type="text" class="form-control" ng-model="bindings[bind]" />
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-primary btn-block">Save</button>
                </form>
            </div>
        </div>

        <!-- macros -->
        <div class="list-group" ui-if="activeTab == 2" ng-repeat="m in macros track by $index">
            <div class="list-group-item">
                <div class="pull-right" ng-if="!m.isNew">
                    <button class="close" ng-click="deleteMacro($index)">
                        <i class="fa fa-trash"></i>
                    </button>
                </div>

                <div class="form-group row">
                    <div class="col-sm-12">
                        <input type="text" class="form-control" ng-model="macros[$index].name" placeholder="{{ m.isNew ? 'New Macro Name' : 'Macro Name' }}"/>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-xs-6" ng-repeat="mval in m.value track by $index">
                        <select class="form-control" ng-options="k as k for (k, v) in bindings" ng-model="m.value[$index]" ng-change="checkMacroItem(m, $index)">
                            <option value="">-- REMOVE --</option>
                        </select>
                    </div>

                    <div class="col-xs-6 control-label">
                        <button class="btn btn-default center-block" ng-click="addBinding(m)">Add</button>
                    </div>
                </div>

            </div>

            <div class="list-group-item" ng-if="m.isNew" ng-show="m.isNew && m.name && m.value.length">
                <button class="btn btn-primary btn-block" ng-click="createMacro(m)">Create Macro</button>
            </div>
                
        </div>

        <!-- <div class="list&#45;group" ui&#45;if="activeTab == 2"> -->
        <!--     <div class="list&#45;group&#45;item"> -->
        <!--         <div class="form&#45;group"> -->
        <!--             <input type="text" class="form&#45;control" ng&#45;model="newMacro.name" placeholder="New Macro Name"/> -->
        <!--             <input type="text" class="text form&#45;control" ng&#45;model="newMacro.value" placeholder="New Macro Value" /> -->
        <!--         </div> -->
        <!--  -->
        <!--         <button class="btn btn&#45;primary btn&#45;block">Save</button> -->
        <!--     </div> -->
        <!-- </div> -->
    </div>
</div>

