.home-heading {
    margin: 0;
    padding: .5em;
}

div.station {
    padding: 12px;
    cursor: pointer;
}

.filters {
    white-space: pre-line;
}

.modal-body {
    padding: 1em;
}
.modal .section {
    padding-left: 0;
    padding-right: 0;
}

.hidden {
    display: none;
}
