.home-heading {
    margin: 0;
    padding: .5em;
}

.filters {
    white-space: pre;
}

.app-content-loading {
  text-align: center;
  height: 100%;
  width: 100%;
  background: #fff;
  position: relative;
}

.loading-spinner {
  position: absolute;
  font-size: 50px;
  left: 50%;
  top: 50%;
  margin-left: -25px;
  margin-top: -25px;
}

.modal-body {
    padding: 1em;
}
.modal .section {
    padding-left: 0;
    padding-right: 0;
}

.modal-scrollable .modal-body {
    /** unfortunately breaks footers... */
    height: 100%;
}

.list-group-item.row {
    /* 
     * default margin-right: -15 causes the
     * viewport to scroll horizonally;
     * we can fake the look by getting rid of
     * both the padding-right and margin-right
     */
    margin-right: 0;
    padding-right: 0;
}

.hidden {
    display: none;
}
