.home-heading {
    margin: 0;
    padding: .5em;
}

.filters {
    white-space: pre;
}

.current-navigation {
    /* borrowed from bg-info */
    background: #d9edf7;
}

.navigation-name {
    padding: 1em;
    font-size: 120%;
}

.navigation-search {
    position: absolute;
    right: 0;
    top: 0;
    bottom: -1px; /* hide the border */
    padding-top: 1em;
}

legend.station-subtitle {
    margin-top: 1em;
    margin-bottom: 0;
}

a.macro {
    font-size: 1.5em;
    padding: 1.5em;
}

.keyboard-container {
    padding: 1em;
}

.app-content-loading {
  text-align: center;
  height: 100%;
  width: 100%;
  background: #fff;
  position: relative;
}

.loading-spinner {
  position: absolute;
  font-size: 50px;
  left: 50%;
  top: 50%;
  margin-left: -25px;
  margin-top: -25px;
}

.list-group-item > .loading-spinner {
    position: relative;
    margin-top: 0;
}

.modal-body {
    padding: 1em;
}
.modal .section {
    padding-left: 0;
    padding-right: 0;
}

.modal-scrollable .modal-body {
    /** unfortunately breaks footers... */
    height: 100%;
}

.list-group-item.row {
    /* 
     * default margin-right: -15 causes the
     * viewport to scroll horizonally;
     * we can fake the look by getting rid of
     * both the padding-right and margin-right
     */
    margin-right: 0;
    padding-right: 0;
}

.clear-input {
    position: absolute;
    right: .5em;
    top: 0;
    bottom: 0;
}

.hidden {
    display: none;
}
