<div ui-content-for="title">
    Search near {{ system }}
</div>

<div ui-content-for="navbutton-left">
    <a href="#/">Back</a>
</div>

<div class="scrollable">
    <div class="scrollable-content">

        <div class="list-group">

            <div class="list-group-item">
                <form role="form" class="form-horizontal" ng-submit="onSearch()">
                    <div class="form-group">
                        <label class="col-sm-12 control-label">Filters</label>
                        <a class="col-sm-12 list-group-item" href="" ui-turn-on="modal1">
                            {{ filtersDescription }} <i class="fa fa-chevron-right pull-right"></i>
                        </a>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Ship Size</label>
                        <div class="col-sm-4">
                            <select ng-model="form['pad-size']" ng-options="size for size in validSizes" class="form-control">
                            </select>
                        </div>
                        <label class="col-sm-2 control-label">Search Range</label>
                        <div class="col-sm-4">
                            <select ng-model="form['search-range']" ng-options="range for range in validRanges" class="form-control">
                            </select>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-block">Search</button>

                    <div ui-content-for="navbutton-action">
                        <a class='btn' ng-click='onSearch()'>Search</a>
                    </div>
                </form>
            </div>
        </div>

        <div ng-show="results != null" class="list-group">
            <!-- TODO tap trade to calculate route? -->
            <div ng-hide="results.length" class="list-group-item">Nothing found</div>
            <div ng-repeat="r in results" class="list-group-item">
                <div class="location">
                    {{ r.SystemName }} ({{ r.Station.Name }})
                </div>

                <div class="price" ng-if="form['commodity']">
                    {{ form['search-type'] == 'selling' ? r.Sell : r.Buy }}
                </div>
            </div>
        </div>

    </div>
</div>

<div ui-content-for="modals">
    <ui-state id='modal1' default='1'></ui-state>
    <div class="modal modal-overlay" ui-if='modal1' ui-state='modal1'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" 
                            ui-turn-off="modal1">&times;</button>
                    <h4 class="modal-title">Filters</h4>
                </div>
                <div class="modal-body">
                    <div ng-include="'js/views/trading.search/filters.html'"></div>
                </div>
                <div class="modal-footer">
                    <!-- <button ui&#45;turn&#45;off="modal1" class="btn btn&#45;default">Close</button> -->
                    <button ui-turn-off="modal1" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>
