<div ui-content-for="title">
    Search near {{ system }}
</div>

<div ui-content-for="navbutton-left">
    <a href="#/">Back</a>
</div>

<div class="scrollable">
    <div class="scrollable-content">

        <div class="list-group">
            <div class="list-group-item">
                <form role="form" class="form-horizontal" ng-submit="onSearch()">
                    <div class="form-group">
                        <label class="col-sm-12 control-label list-group-item">Filters</label>
                        <a class="col-sm-12 list-group-item filters" href="" ui-turn-on="modalFilter"><span ng-bind-html="filtersDescription"></span><i class="fa fa-chevron-right pull-right"></i></a>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Ship Size</label>
                        <div class="col-sm-3">
                            <select ng-model="form['pad-size']" ng-options="size for size in validSizes" class="form-control">
                            </select>
                        </div>

                        <label class="col-sm-3 control-label">Search Range</label>
                        <div class="col-sm-3">
                            <select ng-model="form['search-range']" ng-options="range for range in validRanges" class="form-control">
                            </select>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-block">Search</button>

                    <div ui-content-for="navbutton-action">
                        <a class='btn' ng-click='onSearch()'>Search</a>
                    </div>
                </form>
            </div>
        </div>

        <div ng-show="results != null" class="list-group">
            <div ng-hide="results.length" class="list-group-item">Nothing found</div>
            <!-- tap trade to calculate route -->
            <a ng-repeat="r in results" class="list-group-item row" href="#/navigate/{{ form.system }}/{{ r.SystemName }}">
                <div class="col-xs-7">
                    <div class="location">
                        {{ r.SystemName }} ({{ r.Station.Name }})
                    </div>

                    <div class="small">
                        {{ r.System.Allegiance.Name }} {{ r.System.Government.Name }} {{ r.Station.Economy.Name }}
                    </div>

                    <div class="small">
                        Has {{ r.Station.Services }}
                    </div>
                </div>
                <div class="col-xs-5 text-right">
                    <div>{{ r.Distance }}&nbsp;Ly <b>|</b> {{ r.Station.DistanceFromJumpIn|bigNumber:'&nbsp;' }}Ls</div>
                    <div class="price" ng-if="form['commodity-id']">
                        <!-- this looks weird, but it's true -->
                        <div ng-if="form['search-type'] == 'selling'">
                            Sells <i>{{ data.selectedCommodity.name }}</i> at <b>{{ r.Buy }}</b>
                        </div>
                        <div ng-if="form['search-type'] == 'buying'">
                            Buys <i>{{ data.selectedCommodity.name }}</i> at <b>{{ r.Sell }}</b>
                        </div>
                    </div>
                </div>
            </a>
        </div>

    </div>
</div>

<div ui-content-for="modals">
    <div class="modal modal-overlay" ui-if='modalFilter' ui-state='modalFilter'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" 
                            ui-turn-off="modalFilter"
                            ng-click="onFilterClosed()">&times;</button>
                    <h4 class="modal-title">Filters</h4>
                </div>
                <div class="modal-body">
                    <div ng-include="'js/views/trading.search/filters.html'"></div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" ng-click="resetFilters()">Reset</button>
                    <button ui-turn-off="modalFilter" class="btn btn-primary" ng-click="onFilterClosed()">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>
